 RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
SetEnv TZ Asia/Kolkata
ErrorDocument 404 /index.html
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^abgroup\.co [OR]
RewriteCond %{HTTP_HOST} ^www\.abgroup\.co
RewriteRule ^/?$ "https\:\/\/abgroup\.co\/" [R=301,L]
